<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><%- heading %></h1>

        <div>
            <a href="/backend/mssql_create_product" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add new product</a>

            <a href="/backend/mssql_exportcsv_product" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"><i class="fas fa-file-excel fa-sm text-white-50"></i> Export CSV</a>

            <a href="/backend/mssql_exportpdf_product" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i class="fas fa-file-pdf fa-sm text-white-50"></i> Export PDF</a>
        </div>

    </div>

    <!-- Content Row -->
    <div class="row">
        
        <% 
            if(data.length)
            {
        %>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="bg-primary text-white">
                        <th>Image</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tbody>
                    <%
                    for(let row=0; row < data.length; row++)
                    {
                    %>
                    <tr>
                        <td><img src="<%=data[row].ProductPicture%>" width="50"></td>
                        <td><%=data[row].ProductID%></td>
                        <td><%=data[row].ProductName%></td>
                        <td><%=category[data[row].CategoryID]%></td>
                        <td><%=formatPrice(data[row].UnitPrice)%></td>
                        <td><%=data[row].UnitInStock%></td>
                        <td><%=moment(data[row].CreatedDate).format('DD/MM/YYYY HH:mm')%></td>
                        <td><%=moment(data[row].ModifiedDate).format('DD/MM/YYYY HH:mm')%></td>
                        <td style="width: 200px">
                            <a href="/backend/mssql_edit_product/<%=data[row].ProductID%>" class="btn btn-warning">Edit</a>
                            <a href="/backend/mssql_delete_product/<%=data[row].ProductID%>" 
                                class="btn btn-danger" 
                                onclick ="return confirm('ต้องการลบรายการนี้หรือไม่')">Delete</a>
                        </td>
                    </tr>
                    <%
                    }
                    %>
                </tbody>
            </table>
        <%
            }else{
        %>
        <p class="text-center">No products found</p>
        <%
            }
        %>

    </div>

</div>
